- content_for :title do
  Consultoria | Indústria | Scala dB Acústica
- content_for :header do
  %header
    .container
      %h1 Consultoria | Indústria

.container
  .row-fluid
    .span6
      %h2 O que é?
      %p Serviço onde o Especialista de Acústica compartilha seu conhecimento para definição das melhores alternativas que necessitam de soluções acústicas ou sistemas construtivos que atendam requisitos de isolamento e/ou conforto acústico visando atingir o objetivo esperado ou atendimento da norma.
      %p Trabalho Técnico onde a experiência adquirida em mais de 20 anos convivendo com Acústica Industrial é explorada em forma de ações práticas para solucionar o problema em questão.
    .span6
      = image_tag "industria/consultoria.jpg", :alt => "Consultoria", :class => "framed"
.block-wide
  .container
    .row
      .span12
        .row-fluid
          .span6
            %h2
              %i.icon-cogs
              O que engloba?
            %p Uma consultoria engloba:
            %ul
              %li Estudo de casos.
              %li Detalhamento das ações corretivas.
              %li Troca de experiências.
              %li Orientação técnica das possibilidades desconhecidas.
              %li Ilustração das soluções.
              %li Indicação de produtos e sistemas.
              %li Forma correta de execução.
              %li Especificação para atendimento segundo normas NBR 10151 e 10152, além de legislações regionais.
          .span6
            %h2
              %i.icon-plus
              Benefícios
            %ul
              %li Assertividade na resolução do problema - elimina com a tentativa e erro através do conhecimento específico dos nossos Especialistas em Acústica.
              %li Instalação de forma correta utilizando materiais técnicos e sistemas construtivos sempre na sua melhor forma de desempenho.
              %li Economia em obra - especificação adequada evitando o superdimensionamento ou subdimensionamento.