- content_for :title do
  Indústria - Projetos, Consultoria e Laudos | Scala dB Acústica
- content_for :header do
  %header
    .container
      %h1 Indústria

.container
  .row
    .span12
      .row-fluid
        .span6
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .span6
          %div{ :style => "height: 250px; width: 100%; background: grey;" }
.block-wide
  .container
    .row
      .span12
        .row-fluid
          .span4
            %h2
              %i.icon-headphones
              Projetos
            %div{ :style => "height: 100px; width: 100%; background: lightgreen; margin-bottom: 10px;" }
            %p
              Para uma edificação atingir um desempenho acústico bem sucedido, o
              %strong Projeto Acústico
              é peça
              %strong fundamental
              e não deve ser entendido como um projeto de menor importância, destinado apenas para cumprir aspectos legais e normativos.
            = link_to "Saiba Mais", root_path, :class => "btn btn-primary btn-small"
          .span4
            %h2
              %i.icon-user
              Consultoria
            %div{ :style => "height: 100px; width: 100%; background: darkred; margin-bottom: 10px;" }
            %p Estudo, diagnóstico e orientação das soluções acústicas aplicáveis para uma edificação, visando a otimização de recursos investidos por construtores, incorporadores etc.
            = link_to "Saiba Mais", root_path, :class => "btn btn-primary btn-small"
          .span4
            %h2
              %i.icon-bar-chart
              Laudos
            %div{ :style => "height: 100px; width: 100%; background: navy; margin-bottom: 10px;" }
            %p Relatório técnico de avaliação do desempenho acústico in situ (em campo) de sistemas construtivos, por meio de medições acústicas em fachadas, compartimentações verticais, pisos, equipamentos dentre outros.
            = link_to "Saiba Mais", root_path, :class => "btn btn-primary btn-small"