- content_for :title do
  Projetos | Indústira | Scala dB Acústica
- content_for :header do
  %header
    .container
      %h1 Projeto | Indústria

.container
  .row
    .span12
      .row-fluid
        .span8
          %h2 Projeto Acústico para Indústria
          %p O Projeto Acústico é um documento técnico que reúne um conjunto de informações autossuficientes e adequadas à compreensão das opções de engenharia e à execução da obra, com o objetivo de avaliar e desenvolver soluções que atendam as normas vigentes ou alguma necessidade específica exigida.
          %p Um projeto eficiente é aquele que consegue otimizar os custos de uma obra aproveitando ao máximo os recursos já disponíveis, complementando com soluções específicas de Acústica para atingir resultados esperados.
          %p É composto por 3 (três) etapas básicas que poderão conter:
        .span4
          = image_tag "industria/projetos.jpg", :alt => "Projetos", :class => "framed"

.block-wide
  .container
    .row
      .span12
        .row-fluid
          .span4
            %h2
              %i.icon-cogs
              Dados de Entrada
            %ul
              %li Plantas e cortes.
              %li Níveis de ruído local (ex. fontes, entorno)
              %li Legislação.
              %li Níveis de ruído exigidos.
          .span4
            %h2
              %i.icon-headphones
              Projeto Acústico
            %ul
              %li Mapeamento das fontes principais (ex: equipamentos ruidosos).
              %li Alinhamento junto ao cliente.
              %li Cálculos (Isolamento, reverberação, difração,...).
              %li Desenvolvimento das soluções.
          .span4
            %h2
              %i.icon-ok
              Resultados
            %ul
              %li Memorial descritivo.
              %li Detalhamento das soluções.
              %li Materiais utilizados (densidade, espessuras, fornecedores).
              %li Desenhos ilustrativos.
              %li Ordem de prioridade das intervenções.
              %li Projeto construtivo.
.container
  .row
    .span12
      .row-fluid
        .span4
          = image_tag "acustica/projetos-detalhes.jpg", :alt => "Projetos Detalhes", :class => "framed"
        .span8
          %p
            Quando necessário assessora junto aos órgãos ambientais envolvidos a fim de resolver todos os problemas relacionados com ruídos industriais. O
            %strong projeto acústico
            tem por objetivo a avaliação do ambiente, propondo o desenvolvimento de uma solução para atender determinada necessidade (seja de adequação às normas de ruído ou atender certo nível de conforto acústico).
          %p Com o projeto, a empresa terá todas as informações necessárias para resolução do problema podendo em alguns casos, até utilizar equipe própria para resolução.
          %p Quando da utilização de materiais técnicos em Acústica, recomendamos mão de obra especializada. Para Órgãos Públicos, o projeto pode ser utilizado como base para abertura de licitações.