- content_for :title do
  Laudos | Acústica de Edificações | Scala dB Acústica
- content_for :header do
  %header
    .container
      %h1 Laudos | Acústica de Edificações

.container
  .row-fluid
    .span6
      %h2 O que é?
      %p Laudo é um serviço técnico de medições de parâmetros acústicos por meio de equipamentos de alta precisão devidamente calibrados e homologados para ensaios normalizados, manuseados de forma criteriosa pelos especialistas em Acústica e de acordo com os métodos de avaliações normatizadas padrão ISO.
      %p Os dados coletados in situ (em campo), são pós-processados em softwares específicos obtendo-se os Níveis de Pressão Sonora [dB e/ou dB(A)] resultantes. A apresentação final é realizada por Relatório Técnico contendo tabelas, gráficos, níveis de pressão sonora, níveis de desempenho, dentre outros.
      %p Os laudos, quando baseados por normas especificas e critérios padronizados de avaliação, dispõem de informações importantíssimas para que o construtor, incorporador ou investidor possam ter conhecimento de dados reais retirados em campo (obra) com objetivo de auxiliar nas melhores decisões e classificação por desempenho.
    .span6
      = image_tag "acustica/laudo.jpg", :alt => "Laudos", :class => "framed"
.block-wide
  .container
    .row-fluid
      .span6
        %h2
          %i.icon-cogs
          O que engloba?
        %p   Medição do Tempo de Reverberação, Ruído de Fundo e Nível de Pressão Sonora em ambientes emissores e receptores, para avaliação de:
        %ul
          %li
            Desempenho acústico em sistemas de Pisos / Lajes.
            %ul
              %li Isolamento de ruído de impacto;
              %li Isolamento de ruído aéreo;
          %li
            Desempenho acústico em sistemas de Vedações Verticais Internas e Externas.
            %ul
              %li Isolamento sonoro global entre recintos (parede);
              %li Isolamento sonoro global da vedação externa (fachada);
          %li Ruídos gerados por equipamentos prediais (hidrossanitários etc).
      .span6
        %h2
          %i.icon-plus
          Benefícios
        %ul
          %li Desempenho acústico real medido em campo (obra).
          %li Tomadas de decisões melhores embasadas.
          %li Análise do custo-benefício dos sistemas construtivos ou dos elementos avaliados.
          %li Posicionamento de mercado pelo conhecimento dos níveis de desempenho “ I – Intermediário ou S – Superior ” (M – Mínimo é obrigatório).
.container
  .row-fluid
    .span6
      %h2 Relação de parâmetros acústicos
      %p L’nT,w - Nível de pressão sonora de impacto padrão ponderado (ISO 140-7 e ISO 717-2)
      %p DnT,w - Diferença padronizada de nível ponderada (ISO 140-4 e ISO 717-1)
      %p D2m,nT,w - Diferença Padronizada de Nível Ponderada a 2 m de distância da fachada (ISO 140-5 e ISO 717-1)
      %p LAeq,nT - Nível de pressão sonora equivalente, padronizado de equipamento predial (ISO 16032)
      %p LASmáx.,nT - Nível de pressão sonora máximo, padronizado de equipamento predial (ISO 16032)
      %p LAai - Nível de pressão sonora equivalente no ambiente interno, com equipamento fora de operação (ISO 16032)
    .span6
      %h2 Normas aplicáveis
      %p ISO 717-1, Acoustics – Rating of sound insulation in buildings and of buildings elements – Part 1: Airborne sound insulation
      %p ISO 717-2, Acoustics – Rating of sound insulation in buildings and of buildings elements – Part 2: Impact sound insulation
      %p ISO 140-4, Acoustics – Measurement of sound insulation in buildings and of building elements – Part 4: Field measurements of airborne sound insulation between rooms
      %p ISO 140-5, Acoustics – Measurement of sound insulation in buildings and of building elements – Part 5: Field measurements of airborne sound insulation of façade elements and façades
      %p ISO 140-7, Acoustics – Measurement of sound insulation in buildings and of building elements – Part 7: Field measurements of impact sound insulation of floors
      %p ISO 10052, Acoustics – Field measurements of airborne and impact sound insulation and of service equipment sound – Survey method
      %p ISO 16032, Acoustics – Measurement of sound pressure level from service equipment in buildings – Engineering method
      %p ISO 3382-2, Acoustics – Measurement of room acoustic parameters – Part 2: Reverberation time in ordinary rooms