- content_for :title do
  Consultoria | Scala dB Acústica
- content_for :header do
  %header
    .container
      %h1 Consultoria

.container
  .row
    .span12
      .row-fluid
        .span5
          %p Estudo, diagnóstico e orientação das soluções acústicas aplicáveis para uma edificação, visando a otimização de recursos investidos por construtores, incorporadores, etc.
        .span7
          %div{ :style => "height: 200px; width: 100%; background: #ffcc77;" }