- content_for :title do
  Empresa | Scala dB Acústica
- content_for :header do
  %header
    .container
      %h1 Scala dB Acústica

.row-fluid
  %h1 O que é Acústica de Edificações?
  %p A Acústica de Edificações objetiva adequar o isolamento e o tratamento acústico de forma global, com base em critérios definidos pelas normas técnicas e leis vigentes. O resultado visa proporcionar conforto e privacidade ao consumidor final além da otimização de recursos investidos pelo incorporador ou construtor.