- content_for :title do
  Empresa | Scala dB Acústica
- content_for :header do
  %header
    .container
      %h1 Scala dB Acústica

.container
  .row
    .span12
      .row-fluid
        .span6
          %h2 Sobre a Scala dB Acústica
          %p
            Com mais de 10 anos de experiência atuando em
            %stron Acústica,
            seu corpo técnico é especializado e dispõe de equipamentos de alta precisão, padronizados e normalizados para análise de ruído.
          %p
            Trabalha segundo as recomendações em normas técnicas nacionais e internacionais existentes, seu foco principal está direcionado para
            %strong Acústica de Edificações.
            Apoia-se em meios experimentais, cálculos, softwares de simulação e predição acústica, além de medições acústicas.
          %p
            Os serviços prestados pela
            %strong Scala dB
            asseguram sempre a otimização de custos-benefícios, qualidade e satisfação aos nossos clientes por meios dos resultados obtidos.
        .span6
          / %div{ :style => "height: 250px; width: 100%; background: #b80aad;" }