- content_for :header do
  %header
    .container
      .row
        .span7.offset5
          .hero-unit.hero-header
            %h1 Scala dB Acústica
            %p.lead Consultoria e assessoria em acústica de edificações.
            = link_to "Saiba Mais", empresa_path, :class => "btn btn-primary btn-large"

.container
  .row
    .span12
      .row-fluid.centered
        %h2 O que é Acústica de Edificações?
        %p.lead A Acústica de Edificações objetiva adequar o isolamento e o tratamento acústico de forma global, com base em critérios definidos pelas normas técnicas e leis vigentes. O resultado visa proporcionar conforto e privacidade ao consumidor final além da otimização de recursos investidos pelo incorporador ou construtor.
        %hr
      .row-fluid
        %ul.thumbnails
          %li.span4
            .thumbnail
              %h2 Propostas
              %ul
                %li Avaliação dos níveis de ruído exterior
                %li Avaliação dos sistemas construtivos
                %li Mapeamento dos layouts (plantas e cortes)
                %li Análise de desempenho atual x objetivos
                %li Modelagem matemática ou 3D
                %li Soluções construtivas (utilizado x desempenho)
                %li Compatibilização com projeto arquitetônico
                %li Recomendações NBR 15575, 10151 e 10152
                %li Dicas de instalação e cuidados
  
          %li.span4
            .thumbnail
              %h2 Benefícios agregados
              %ul
                %li Otimização de custos x benefícios
                %li Valorização do imóvel
                %li Conforto e bem-estar
                %li Satisfação do cliente
                %li Atendimento às normas técnicas (NBR)
                %li Construções sustentáveis
    
          %li.span4
            .thumbnail
              %h2 Avaliações e laudos
              %p Para atender a Norma de Desempenho NBR 15575:
              %ul
                %li Ruído aéreo*
                %li Ruído de impacto*
                %li Análise de ruído*
              %em * Conforme Normas ISO e NBR vigentes