%p.centered= image_tag "logo-scala-db-acustica.png", :alt => "Logo Scala dB Acústica", :class => "logo"
.hero-unit
  %h1 Acústica de Edificações
  %p A Acústica de Edificações objetiva adequar o isolamento e o tratamento acústico de forma global, com base em critérios definidos pelas normas técnicas e leis vigentes. O resultado visa proporcionar conforto e privacidade ao consumidor final além da otimização de recursos investidos pelo incorporador ou construtor.

.row-fluid
  %ul.thumbnails
    %li.span4
      .thumbnail
        %h2 Propostas
        %ul
          %li Avaliação dos níveis de ruído exterior
          %li Avaliação dos sistemas construtivos
          %li Mapeamento dos layouts (plantas e cortes)
          %li Análise de desempenho atual x objetivos
          %li Modelagem matemática ou 3D
          %li Soluções construtivas (utilizado x desempenho)
          %li Compatibilização com projeto arquitetônico
          %li Recomendações NBR 15575, 10151 e 10152
          %li Dicas de instalação e cuidados
  
    %li.span4
      .thumbnail
        %h2 Benefícios agregados
        %ul
          %li Otimização de custos x benefícios
          %li Valorização do imóvel
          %li Conforto e bem-estar
          %li Satisfação do cliente
          %li Atendimento às normas técnicas (NBR)
          %li Construções sustentáveis
    
    %li.span4
      .thumbnail
        %h2 Avaliações e laudos
        %p Para atender a Norma de Desempenho NBR 15575:
        %ul
          %li Ruído aéreo*
          %li Ruído de impacto*
          %li Análise de ruído*
        %p * Conforme Normas ISO e NBR vigentes