- content_for :header do
  %header
    .container
      .row
        .span7.offset5
          .hero-unit.hero-header
            %h1 Scala dB Acústica
            %p.lead Consultoria e assessoria em acústica de edificações.
            = link_to "Saiba Mais", empresa_path, :class => "btn btn-primary btn-large"

.container
  .row
    .span12
      .row-fluid.centered
        %h2 O que é Acústica de Edificações?
        %p.lead A Acústica de Edificações estuda e especifica as soluções tecnológicas aplicáveis para a adequação do isolamento sonoro e tratamento acústico no âmbito global de uma edificação, compatibilizando soluções arquitetônicas, estruturais dentre outras especialidades aos requisitos de conforto acústico e privacidade para sua edificação.

.block-wide
  .container
    .row
      .span12
        .row-fluid
          .span4
            %h2
              %i.icon-building
              Acústica de Edificações
            %div{ :style => "height: 150px; width: 100%; background: pink; margin-bottom: 10px;" }
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            = link_to "Saiba Mais", acustica_de_edificacoes_path, :class => "btn btn-primary btn-small"
          .span4
            %h2
              %i.icon-beaker
              Indústria
            %div{ :style => "height: 150px; width: 100%; background: darkgreen; margin-bottom: 10px;" }
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            = link_to "Saiba Mais", industrias_path, :class => "btn btn-primary btn-small"
          .span4
            %h2
              %i.icon-leaf
              Meio Ambiente
            %div{ :style => "height: 150px; width: 100%; background: cyan; margin-bottom: 10px;" }
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            = link_to "Saiba Mais", meio_ambientes_path, :class => "btn btn-primary btn-small"