- content_for :title do
  Laudos | Scala dB Acústica
- content_for :header do
  %header
    .container
      %h1 Laudos

.container
  .row
    .span12
      .row-fluid
        .span5
          %p Relatório técnico de avaliação do desempenho acústico in situ (em campo) de sistemas construtivos, por meio de medições acústicas em fachadas, compartimentações verticais, pisos, equipamentos dentre outros.
        .span7
          %div{ :style => "height: 200px; width: 100%; background: #77ffcc;" }