- content_for :title do
  Projetos | Scala dB Acústica
- content_for :header do
  %header
    .container
      %h1 Projetos | Scala dB Acústica

.container
  .row
    .span12
      .row-fluid
        .span8
          %h2 Projeto de Acústica
          %p O Projeto de Acústica é um documento técnico que reúne um conjunto de informações autossuficientes e adequadas à compreensão das opções de engenharia e à execução da obra, com detalhamento das intervenções em todas as áreas e elementos da Edificação.
          %p Um projeto eficiente é aquele que consegue otimizar os custos de uma obra aproveitando ao máximo os recursos já disponíveis (ex: concreto), complementando com soluções específicas de Acústica para atingir os níveis de desempenho e conforto desejados.
          %p
            %strong IMPORTANTE:
            priorizar a interação direta com outras especialidades, tais como: projeto de arquitetura, estabilidade, condicionamento térmico, ventilação, instalações em geral, etc. A articulação e o bom entendimento entre os projetistas são fundamentais para o sucesso e cumprimento dos objetivos e resultados almejados.
          %p É composto por 3 (três) etapas básicas que poderão conter:
        .span4
          %div{ :style => "height: 200px; width: 100%; background: green;" }
      
.block-wide
  .container
    .row
      .span12
        .row-fluid
          .span4
            %h2
              %i.icon-cogs
              Dados de Entrada
            %ul
              %li Níveis de ruído exterior – avaliação no local de implantação do empreendimento e/ou mapeamento sonoro por meio de simulações 3D em softwares de predição acústica. (Opcional)
              %li Plantas e cortes.
              %li Propostas de soluções construtivas iniciais.
              %li Níveis de desempenho desejados.
          .span4
            %h2
              %i.icon-headphones
              Projeto Acústico
            %ul
              %li Anteprojeto.
              %li Mapeamento dos recintos.
              %li Mapeamento de soluções construtivas aplicáveis.
              %li Seleção de soluções.
              %li Cálculos de isolamento sonoro.
              %li Simulação da transmissão acústica entre todos os recintos.
          .span4
            %h2
              %i.icon-ok
              Resultados
            %ul
              %li Memorial de cálculo da edificação.
              %li Memorial de materiais especificados.
              %li Desenhos técnicos e ilustrações dos sistemas construtivos selecionados.
              %li Detalhes de instalação e cuidados na execução.
.container
  .row
    .span12
      .row-fluid
        .span4
          %div{ :style => "height: 250px; width: 100%; background: #b80aad;" }
        .span8
          %p Em um projeto acústico é analisado e estudado os seguintes fatores:
          %p Isolamento ao ruído aéreo – sistemas de vedações verticais internas e externas, tais como: fachadas, paredes, divisórias internas, forros, esquadrias, etc.
          %p É o som produzido e transmitido através do ar, como: tráfego, conversas, etc.
          %p Isolamento ao ruído de impacto – sistemas de pisos, como: lajes de pavimento.
          %p É som produzido pelo impacto no piso e transmitido por vibração pela estrutura, como: passos, quedas de objetos, arraste de móveis dentre outros.
          %p Condicionamento acústico interno – correção acústica aplicada em ambientes devido às reflexões sonoras, corrigidas pelo Tempo de Reverberação (Reverberation Time).
          %p Ruído de equipamentos e instalações prediais – gerados por: sistemas hidrossanitários, shafts, elevadores, casas de máquinas, instalações hidráulicas, etc.

.block-wide
  .container
    .row
      .span12
        .row-fluid
          .span4
            %h2
              %i.icon-plus
              Benefícios
            %ul
              %li Valorização do empreendimento.
              %li Posicionamento de mercado pelos níveis de desempenho.
              %li Conformidade com os aspectos legais e normativos.
              %li Otimização de recursos investidos.
          .span4
            %h2
              %i.icon-reorder
              Normas aplicáveis
            %ul
              %li NBR 15575 - Edificações habitacionais – Desempenho.
              %li NBR 10152 - Acústica – Medição e avaliação de níveis de pressão sonora em ambientes internos às edificações.
              %li EN 12354 - Building Acoustics - Estimation of acoustic performance of buildings from the performance of elements.