- content_for :title do
  Contato | Scala dB Acústica
- content_for :header do
  %header
    .container
      %h1 Contato

.row-fluid
  %h2 Conheça nossas soluções, tire dúvidas e saiba mais
  %p Form here.