- content_for :title do
  Contato | Scala dB Acústica
- content_for :header do
  %header
    .container
      %h1 Contato

.container
  .row
    .span8
      %h2 Mensagem enviada com sucesso!
      %p Agradecemos seu contato e em breve retornaremos.
      %p Por favor continue conhecendo nossas soluções em Acústica de Edificações, Indústria e Meio Ambiente.
      %p Obrigado.
