%h1{ :style => "font-size: 23px; color: #333333;" } Contato Site Scala dB
%p{ :style => "font-size: 13px; color: #333333;" }
  %strong Nome:
  = @contact.nome
%p
  %strong Email:
  = @contact.email
%p
  %strong Phone:
  = @contact.phone
%p{ :style => "font-size: 16px; color: #333333; font-weight: bold;" } Mensagem
%p{ :style => "font-size: 13px; color: #333333;" }= @contact.message