- content_for :title do
  Meio Ambiente - Laudos | Scala dB Acústica
- content_for :header do
  %header
    .container
      %h1 Meio Ambiente

.container
  .row-fluid
    .span4
      %h2
        %i.icon-bar-chart
        Laudos
      %p Relatório técnico de avaliação do desempenho acústico in situ (em campo) de sistemas construtivos, por meio de medições acústicas em fachadas, compartimentações verticais, pisos, equipamentos dentre outros.
      = link_to "Saiba Mais", root_path, :class => "btn btn-primary btn-small"
    .span4
      = image_tag "meio-ambiente/laudo.jpg", :alt => "Laudos", :class => "framed"
      