- content_for :title do
  Meio Ambiente - Laudos | Scala dB Acústica
- content_for :header do
  %header
    .container
      %h1 Meio Ambiente

.container
  .row-fluid
    .span4
      %h2
        %i.icon-bar-chart
        Laudos
      %p
        Relatório Técnico de avaliação do desempenho acústico
        %em in situ
        (em campo), por meio de medições acústicas segundo normas e com equipamentos normatizados.
      = link_to "Saiba Mais", meio_ambientes_laudos_path, :class => "btn btn-primary btn-small"
    .span4
      = image_tag "meio-ambiente/laudo.jpg", :alt => "Laudos", :class => "framed"
      