- content_for :title do
  Laudos | Meio Ambiente | Scala dB Acústica
- content_for :header do
  %header
    .container
      %h1 Laudos | Meio Ambiente

.container
  .row-fluid
    .span8
      %h2 O que é?
      %p Laudo é um serviço técnico de medições de parâmetros acústicos por meio de equipamentos de alta precisão devidamente calibrados e homologados para ensaios normalizados, manuseados de forma criteriosa pelos especialistas em Acústica e de acordo com os métodos de avaliações normatizadas padrão ISO.
      %p
        Os dados coletados
        %em in situ
        (em campo), são pós-processados em softwares específicos e apresentados por Relatório Técnico contendo tabelas, gráficos, níveis de pressão sonora, dentre outros.
      %p Os laudos, quando baseados por normas especificas e critérios padronizados de avaliação, dispõem de informações importantíssimas para que possam ter conhecimento de dados reais retirados em campo (obra) com objetivo de auxiliar nas melhores decisões estratégicas, preventivas ou corretivas.
    .span4
      = image_tag "meio-ambiente/laudo.jpg", :alt => "Laudos", :class => "framed"
.block-wide
  .container
    .row-fluid
      .span6
        %h2
          %i.icon-ok
          Objetivos
        %p Verificação dos níveis de ruído na Indústria (parque fabril, indústria, produção, máquinas, equipamentos, escritório, etc.), comparando com os níveis de critérios de avaliação de acordo com a norma NBR 10151.
        %p Os laudos também servem para apresentação em auditorias internas (indústrias que possuem ISO 14000) ou órgãos públicos, de forma a comprovar os níveis de ruído emitido e avaliar se estão em conformidade com os limites permitidos pela legislação.
      .span6
        %h2
          %i.icon-cogs
          O que engloba?
        %p Medição do Ruído de Fundo e Nível de Pressão Sonora:
        %ul
          %li Níveis de ruído em vários pontos e das diversas fontes de ruído existentes, além do entorno (limites).

.container
  .row-fluid
    .span6
      %h2
        %i.icon-plus
        Benefícios
      %ul
        %li Níveis reais de ruído apresentados em campo.
        %li Tomadas de decisões melhores embasadas.
        %li Análise do custo-benefício das correções acústicas.
        %li Comparativo com as normas existentes para que sejam atendidas.
        %li Amparo técnico legal junto aos órgão públicos.
    .span6
      %h2
        %i.icon-legal
        Normas aplicáveis
      %ul
        %li NBR 10151 - Acústica – Medição e avaliação de níveis de pressão sonora em ambientes externos às edificações
        %li NBR 10152 - Acústica – Medição e avaliação de níveis de pressão sonora em ambientes internos às edificações