/ %footer
/   .container
/     .row
/       .span2
/         %p.statistics
/           %span #{Scene.all.size}
/           scenes in
/         %p.statistics
/           %span #{Location.all.size}
/           locations for
/         %p.statistics
/           %span #{Movie.all.size}
/           movies.
/       .span2.offset2
/         %h5 Stuff you need to start
/         %ul.unstyled
/           %li What is Clapperboarding?
/           %li How can I use it?
/           %li How can I participate more?
/       .span2
/         %h5 Privacy
/         %ul.unstyled
/           %li Privacy Policy
/           %li Terms and Conditions
/       .span2
/         %h5 Drop a line
/         %ul.unstyled
/           %li Email
/       .span2
/         %h5 Get Social
/         %ul.unstyled
/           %li Twitter
/           %li Facebook
/     .row
/       .span12
/         %p.copyright Handmade in Chicago &copy; #{Date.today.year}.