!!!
%html{ :lang => "en" }
  %head
    = render "layouts/head"
  %body
    
    .container
      .row
        .span12
          = yield
  
    = javascript_include_tag "application"
    = javascript_include_tag "//apis.google.com/js/plusone.js"